html
    head
        link(rel='apple-touch-icon' sizes='180x180' href='icon/apple-touch-icon.png')
        link(rel='icon' type='image/png' sizes='32x32' href='icon/favicon-32x32.png')
        link(rel='icon' type='image/png' sizes='16x16' href='icon/favicon-16x16.png')
        link(rel='manifest' href='icon/site.webmanifest')
        link(rel='mask-icon' href='icon/safari-pinned-tab.svg' color='#5bbad5')
        meta(name='msapplication-TileColor' content='#da532c')
        meta(name='theme-color' content='#ffffff')
        link(rel="stylesheet" href="/css/styles.css")
        meta(charset='UTF-8')
        title Calculadora Online!
    body
        header 
            h1 API Calculator!
        main
            h3 Puede realizar peticiones GET a:
            ul
                li http://#{address}/suma
                li http://#{address}/resta
                li http://#{address}/multiplicar
                li http://#{address}/dividir
            p Debe de realizar peticiones mediante query, pasando como parámetros num1 y num2, ej:
            p /sumar?num1=5&num2=6
            p Lo cual retornara un objeto: 
                small { err: {string}, data: {number} }
            ul
                li err es un string, que contendra un mensaje de en caso de que algún error haya sucedido.
                li data devuelve un numero, que contendra un numero en caso de que el pedido haya sido exitoso. En este caso 11.
        footer
            p
                a(href='/') Volver.
            p#info 
                | © ComIT 2019