html
    head
        link(rel='apple-touch-icon' sizes='180x180' href='icon/apple-touch-icon.png')
        link(rel='icon' type='image/png' sizes='32x32' href='icon/favicon-32x32.png')
        link(rel='icon' type='image/png' sizes='16x16' href='icon/favicon-16x16.png')
        link(rel='manifest' href='icon/site.webmanifest')
        link(rel='mask-icon' href='icon/safari-pinned-tab.svg' color='#5bbad5')
        meta(name='msapplication-TileColor' content='#da532c')
        meta(name='theme-color' content='#ffffff')
        link(rel="stylesheet" href="/css/styles.css")
        meta(charset='UTF-8')
        title Calculadora Online!
    body
        header 
            h1 API Calculator!
        main
            #calculadora
                #inputs
                    input(type="text" name='value-1' id='num1')
                    input(type="text" name='value-2' id='num2')
                #acciones
                    button(onclick='sumar()') +
                    button(onclick='restar()') -
                    button(onclick='dividir()') /                    
                    button(onclick='multiplicar()') *
                #resultado
        footer
            p
                a(href='/help') ¿Como utilizar la API?
            p#info 
                | © ComIT 2019
        script(type='application/javascript' src='/js/script.js')